<lms-header Heading="Content">
    <i routerLink="/toc" class="pi pi-arrow-circle-left"></i>
</lms-header>
<div class="content-bg content-top-margin toc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6" *ngFor="let content of constentList">
                <a (click)="viewContent(content.contentid)">
                    <div class="content-item">
                        <div class="play-button">
                            <img *ngIf="content.mediatype == 'mp4'" src="assets/images/play-64.png" alt="play">
                            <img *ngIf="content.mediatype == 'html'" src="assets/images/html.png" alt="html">
                        </div>
                        <div class="description">
                            <h4>{{content.displayname}}</h4>
                            <p>Social Sciences can be defined as the study of human society</p>
                        </div>                        
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
            