<lms-header Heading="Content"></lms-header>
<div class="content-bg content-top-margin toc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="content-item">
                    <div>
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <div>
                        <h4>Title</h4>
                        <p>Description</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
            