<lms-header Heading="Content">
    <i routerLink="/toc" class="pi pi-arrow-circle-left"></i>
</lms-header>
<div class="content-bg content-top-margin toc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="content-item">
                    <div class="play-button">
                        <img src="assets/images/play-64.png" alt="play">
                    </div>
                    <div class="description">
                        <h4>Cultural and Ethnic Studies</h4>
                        <p>Social Sciences can be defined as the study of human society</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-item">
                    <div class="play-button">
                        <img src="assets/images/play-64.png" alt="play">
                    </div>
                    <div class="description">
                        <h4>Cultural and Ethnic Studies</h4>
                        <p>Social Sciences can be defined as the study of human society</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-item">
                    <div class="play-button">
                        <img src="assets/images/play-64.png" alt="play">
                    </div>
                    <div class="description">
                        <h4>Cultural and Ethnic Studies</h4>
                        <p>Social Sciences can be defined as the study of human society</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-item">
                    <div class="play-button">
                        <img src="assets/images/play-64.png" alt="play">
                    </div>
                    <div class="description">
                        <h4>Cultural and Ethnic Studies</h4>
                        <p>Social Sciences can be defined as the study of human society</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-item">
                    <div class="play-button">
                        <img src="assets/images/play-64.png" alt="play">
                    </div>
                    <div class="description">
                        <h4>Cultural and Ethnic Studies</h4>
                        <p>Social Sciences can be defined as the study of human society</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-item">
                    <div class="play-button">
                        <img src="assets/images/play-64.png" alt="play">
                    </div>
                    <div class="description">
                        <h4>Cultural and Ethnic Studies</h4>
                        <p>Social Sciences can be defined as the study of human society</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-item">
                    <div class="play-button">
                        <img src="assets/images/play-64.png" alt="play">
                    </div>
                    <div class="description">
                        <h4>Cultural and Ethnic Studies</h4>
                        <p>Social Sciences can be defined as the study of human society</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-item">
                    <div class="play-button">
                        <img src="assets/images/play-64.png" alt="play">
                    </div>
                    <div class="description">
                        <h4>Cultural and Ethnic Studies</h4>
                        <p>Social Sciences can be defined as the study of human society</p>
                    </div>
                    
                </div>
            </div>
           
            
        </div>
    </div>
</div>
            