<mat-toolbar>
 
    <button mat-icon-button *ngIf="sidenav.mode === 'over' && sideNavVisible" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>

  <div class="lms-right-menu">
    <mat-icon>notifications</mat-icon>
    <mat-icon>power_settings_new</mat-icon>
  </div>
</mat-toolbar>

<mat-sidenav-container>  
  
    <mat-sidenav #sidenav="matSidenav">
    <div>
      <img class="img-thumbnail" src="assets/images/logo.png" alt="logo" />
      <mat-divider></mat-divider>
      <button  mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </div>
    </mat-sidenav> 
    <mat-sidenav-content>
       <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
