<!-- <lms-header Heading="TOC"></lms-header> -->
<div class="content-bg content-top-margin toc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 order-lg-1 padding-right-0 filter">
            
                <p-panel header="Filter" [toggleable]="true">
                    <div class="filter-group">
                        <h6>Class</h6>
                        <p-autoComplete 
                            placeholder="Select class"
                            [(ngModel)]="selectedClass"
                            [suggestions]="filteredClass" 
                            (completeMethod)="filterClass($event)" 
                            (onSelect)="onClassSelect($event.classid)"
                            field="classname" 
                            [dropdown]="isDropdown">
                            <ng-template let-class pTemplate="item">
                                <div class="class-item">                                
                                    <div>{{class.classname}}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
             <div class="filter-group">
                <h6>Subject</h6>
                <p-autoComplete 
                    placeholder="Select subject"
                    [(ngModel)]="selectedSubject" 
                    [suggestions]="filteredSubject" 
                    (completeMethod)="filterSubject($event)" 
                    (onSelect)="onSubjectSelect($event.SubjectID)"
                    field="SubjectName" 
                    [dropdown]="isDropdown">
                    <ng-template let-subject pTemplate="item">
                        <div class="country-item">
                            <div>{{subject.SubjectName}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="filter-group">
                <h6>Book</h6>
                <p-autoComplete 
                    placeholder="Select book"
                    [(ngModel)]="selectedBook" 
                    [suggestions]="filteredBooks" 
                    (completeMethod)="filterBook($event)" 
                    (onSelect)="onBookSelect($event.bookid)"
                    field="bookname" 
                    [dropdown]="isDropdown">
                    <ng-template let-book pTemplate="item">
                        <div class="country-item">
                            <div>{{book.bookname}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div> 
            </p-panel>
            </div>
          <div class="col-lg-9 order-lg-12 padding-left-0">
            <p-panel header="Chapters">
                <ng-container *ngIf="filteredChapter && filteredChapter.length > 0; else noItem">
                <p-accordion>
                    <ng-container *ngFor="let chapter of filteredChapter">
                    <p-accordionTab [header]="chapter.ChapterName">
                      <div class="lms-topic">
                        <ng-container *ngFor="let topic of getTopics(chapter.chapterid)">
                            <a (click)="navigateTocontent(topic.topicid)">{{topic.topicName}}</a>
                        </ng-container>
                      </div>
                    </p-accordionTab>
                </ng-container>
                </p-accordion>
            </ng-container>
            </p-panel>
          </div>          
        </div>
      </div>
</div>

<ng-template #noItem>
    <div class="no-item">
        <img src="assets/images/book_icon.png"/>
    <h5>No items to display.</h5>
    <p>Please select class, subject and book</p>
</div>
</ng-template>