/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

    /* background: #fff url(assets/images/floral-bg.png) no-repeat center bottom;
    background-size: cover; */
}


.item {
    background: #fff;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d71c57;
    cursor: pointer;
    margin: 22px;
    box-shadow: 1px 4px 5px -4px rgb(0 0 0 / 75%);
    border: none;
    /* background-image: -webkit-linear-gradient(0deg,#8e2de2 0,#4a00e0 100%); */
    font-size: 1.875rem;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.item:hover {
    background-color: #d81c56;
    color: #fff;
}